@model IEnumerable<GFT_Tickets.Models.CasaDeShow>
@{
    ViewData["Title"] = "Casas de Show";
}
<h1 style="text-align: center;" class="mb-4">@ViewData["Title"]</h1>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Ações</th>
    </tr>
    <tbody>
        @foreach (var casadeshow in Model)
        {
            <tr>
                <td style="vertical-align: middle;">@Html.DisplayFor(model => casadeshow.Id)</td>
                <td style="vertical-align: middle;">@Html.DisplayFor(model => casadeshow.Nome)</td>
                <td style="vertical-align: middle;">@Html.DisplayFor(model => casadeshow.Endereco)</td>
                <td style="vertical-align: middle;"><a class="btn btn-outline-success" href="/CasasDeShow/Editar/@casadeshow.Id">Editar</a> 

                <form asp-action="Deletar" asp-controller="CasasDeShow" style="display: inline;">
                    <input type="hidden" name="id" id="id" value="@casadeshow.Id">
                    <button class="btn btn-outline-danger">Excluir</button>
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-outline-success mb-5" asp-controller="CasasDeShow" asp-action="Cadastrar">Nova Casa de Show</a>